<html>
  <head>
    <meta charset="UTF-8" />
    <title>Dark &amp; Light Mode | Webdevtrick.com</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css.css') }}">  

  </head>
  <body>
    <div class="container">
      <i
        class="material-icons"
        style="
          font-size: 48px;
          display: flex;
          align-items: center;
          justify-content: center;
        "
        >&#xe3a8;

        <input
          class="container_toggle"
          type="checkbox"
          id="switch"
          name="mode"
        />
        <label class="material-icons" for="switch"> &#xe3a8; </label>
      </i>
    </div>

    <script src="{{ url_for('static', filename='js.js') }}"></script>
  </body>
</html>
